<a href="https://colab.research.google.com/github/raunakdwivedi03/NLP_CloudXProject/blob/main/startup_funding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np

In [34]:
df= pd.read_csv("/content/startup_funding.csv")

In [35]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [38]:
df['Investors Name'] = df['Investors Name'].fillna('Undisclosed')

In [39]:
df['Investors Name']

0                 Tiger Global Management
1               Susquehanna Growth Equity
2                   Sequoia Capital India
3                          Vinod Khatumal
4                 Sprout Venture Partners
                      ...
3039          Asia Pacific Internet Group
3040                       KARSEMVEN Fund
3041       Exfinity Fund, GrowX Ventures.
3042                           MakeMyTrip
3043    UK based Group of Angel Investors
Name: Investors Name, Length: 3044, dtype: object

In [40]:
sorted(df['Investors Name'].unique().tolist())

['"Kedaraa Capital, Ontario Teachers\\\\\'"',
 '021 Capita, Binny Bansal',
 '1Crowd',
 '1Crowd (through crowd funding)',
 '1Crowd (through crowdfunding)',
 '1Crowd, Ankur Capital',
 '1Crowd, Eureka Forbes Ltd, Shapoorji Pallonji & Co. Ltd.',
 '3 undisclosed HNIs',
 '3 undisclosed investors',
 '3One4 Capital',
 '3one4 Capital, Mumbai Angels, Aarin Capital',
 '3one4 Capital, Tracxn Labs, Aaruha Technology Fund, Endiya Partners',
 '3one4 capital',
 '500 Startups',
 '500 Startups, IDG Ventures & Advantedge fund, Neeraj Arora, Leon Seynave',
 '500 Startups, IvyCap Ventures',
 '500 Startups, Littlerock, Singularity Ventures',
 '500 Startups, Mato Peric & Others',
 '500 Startups, Mato Peric, TracxnLabs',
 '500 Startups, Purvi Capital, Rajan Anandan, Abhishek Gupta',
 '500 Startups, Smile Multimedia, Kunal Bahl, Rohit Bansal, Girish Matrubootham',
 '500 Startups, TV Mohandas Pai, Tandem Capital, Vikram Chachra, Aloke Bajpai',
 '50K Ventures',
 '50k Ventures, Munish Jauhar, Pulkit Jain, Rohit Narang',
 '91maker.com',
 'A M Sikander',
 'A91 Partners',
 'AB Kinnevik, Falcon Edge Capital, Coatue Management',
 'ABI-Showatech (India) Ltd',
 'ABM Knowledgeware',
 'ADAG Reliance Private Equity',
 'AJ Ventures and Jain International Trade Organisation (JITO)',
 'ANALEC',
 'ANI Technologies Pvt. Ltd',
 'APIS Partners',
 'ASK Pravi',
 'AV Thomas Group',
 'AVG Group, 500 Startups',
 'Aakrit Vaish, Swapan Rajdev, Sushill Jiwarajka',
 'Aamir Khan',
 'Aarin Capital',
 'Aarin Capital Partners',
 'Aarin Capital Partners,',
 'Aarin Capital Partners, TV Mohandas Pai',
 'Aarin Capital, Michael Herzig, Ashish Lakhanpal',
 'Aarin Capital, Unitus Seed Fund',
 'Aarti Group',
 'Aavishkaar',
 'Aavishkaar Venture Management',
 'Aavya Ventures',
 'Abhijit Avasthi, Karan Chellani, SP Vijay',
 'Abhinav Bindra, Gaurav Marya',
 'Abhinav Gupta,',
 'Abhinav Mathur',
 'Abhishek Agarwal, Krishnakumar Nataraj, Sarath Sura, Shanti Mohan, Sarthak and Nihit Agarwal, Suramya Gupta',
 'Abhishek Bhatewara, Vivek Shah, Haitong Securities, Suraj Saharan, Paras Arora',
 'Abhishek Gupta',
 'Abraaj Group',
 'Accel (formerly known as Accel Partners)',
 'Accel Partner, Jungle Ventures',
 'Accel Partners',
 'Accel Partners India',
 'Accel Partners India, RB Investments',
 'Accel Partners,',
 'Accel Partners, Anupam Mittal & other marquee investors',
 'Accel Partners, Ashish Hemrajani, Parikshit Dar, Rajesh Balpande',
 'Accel Partners, Beenext, Powerhouse Ventures, Akusa Holdings',
 'Accel Partners, Deep Kalra, Rajesh Magow, Mohit Gupta, Shamik Sharma',
 'Accel Partners, Elevar Equity, Pramod Bhasin, Rajan Anandan, Gaurav Dalmia, Abhishek Goyal, Gagan Hasteer , Arun Tadanki',
 'Accel Partners, Exfinity Ventures, Partech Ventures',
 'Accel Partners, Flipkart',
 'Accel Partners, Helion Venture Partners',
 'Accel Partners, IDG Venture, Endiya Partners, pi Ventures, VH Capital, Axilor Ventures and Binny Bansal',
 'Accel Partners, IDG Ventures India',
 'Accel Partners, IDG Ventures, Endiya Partners, pi Ventures, VH Capital, Axilor Partners',
 'Accel Partners, IDG Ventures, Kalaari Capital',
 'Accel Partners, IDG Ventures, Kalaari Capital,\\\\xc2\\\\xa0 UC-RNT fund',
 'Accel Partners, Indian Angel Network, India Innovation Fund India Venture Partners',
 'Accel Partners, International Finance Corporation (IFC), Qualcomm Ventures, Ventureast',
 'Accel Partners, Jungle Ventures, SeedPlus',
 'Accel Partners, Kalaari Capital',
 'Accel Partners, Matrix Partners, Girish Mathrubootham',
 'Accel Partners, Nandan Nilekani,',
 'Accel Partners, Nandan Nilekani\\\\xe2\\\\x80\\\\x99s NRJN Trust, Mistletoe, Qualcomm Ventures, M&S Partners',
 'Accel Partners, Qualcomm Ventures, M&S Partners, Zop Smart',
 'Accel Partners, RB Investments',
 'Accel Partners, SAIF Partners',
 'Accel Partners, Sequoia Capital',
 'Accel Partners, Sequoia Capital, RB Investments',
 'Accel Partners, Sequoia India, Y Combinator and others.',
 'Accel Partners, Shunwei Capital',
 'Accel Partners, Subrata Mitra, Larry Braitman, Venk Krishna',
 'Accel Partners, Tiger Global And Others',
 'Accel Partners, Tiger Global Management',
 'Accel Partners, Traxcn Labs & Others',
 'Accel Partners, Zephyr Peacock',
 'Accel US, Accel India, SAIF Partners.',
 'Accion Venture Lab, Unicorn India Ventures and ISME ACE.',
 'Accion Venture Lab, YourNest Venture Capital And Other Angel Investors',
 'Accion Venture Labs, Rianta Capital',
 'Accion, LeapFrog Investments, Lok Capital',
 'Ackermans & van Haaren, HealthQuad, Rebright Partners, Toppan Printing',
 'Actis, Altimeter Capital',
 'Acumen Fund',
 'Adroitent Pvt. Ltd.',
 'AdvantEdge',
 'Aegon NV',
 'Aequs Group',
 'Agarwal Movers Group',
 'Agnus Capital',
 'Agnus Capital, Khattar Holdings',
 'Ah! Ventures, Calcutta Angels,\\\\xc2\\\\xa0 91SpringBoard',
 'Ajai Chowdhry, Ashvin Chadha, Yogesh Bansal,\\\\nNitin Singhal & Others',
 'Ajay Data & other HNIs',
 'Ajay Data & undisclosed HNIs',
 'Ajay Nanavati, Afsal Salu',
 'Ajay Piramal',
 'Ajay Relan',
 'Ajay Relan and Vinay Mittal',
 'Ajay Relan,',
 'Ajay Relan, LetsVenture',
 'Ajeet Khurana & Others',
 'Ajeet Khurana Jinesh Shah, Vikram Chachra, Dr. Aniruddha Malpani',
 'Ajit Surana, Sanjay Mehta',
 'Ajith Nair',
 'Ajith Nair, Anish K',
 'Ajith Sukumaran, Currae Healthtech Fund',
 'Ajmera Group of Companies',
 'Al Dhaheri family',
 'Alex Chua, Rahul Garg',
 'Alex Kuruvilla, Pradeep Guha, Saket Dhankar, Rajan Pandhare',
 'Alibaba',
 'Alibaba Group, Ant Financial',
 'Alibaba Pictures',
 'Alibaba, Foxconn, Softbank',
 'Alibaba, Helion Venture Partners, Bessemer Venture Partners, Ascent Capital',
 'Allcargo Logistics, Navneet Education and Mahavir Agency',
 'Allen Blue, John Katzman, Naveen Tewari, Kartik Hosanagar, Kashyap Deorah, 500 Startups, Blue Fog Capital',
 'Alok Bajpai, Rajnish Kumar, Amit Dey',
 'Alok Goel',
 'Alok Mittal',
 'Alok Mittal, Amit Gupta, Anuj Srivastava, Himanshu Aggarwal, Raghunandan G, Puneet Agarwal',
 'Alok Mittal, Deepak Jain, Ritesh Malik, Jim Schimdktke',
 'Alok Mittal, Zeeshan Hayat, Niraj Singh, Nikunj Jain, Anirudh Damani, Punit Goyal',
 'Alok Rawat, Grey Orange Robotics',
 'Alpha Capital',
 'Alphard Maritime Group',
 'Alteria Capital',
 'Altimeter Capital, DST Global',
 'Altimeter Capital, Sutter Hill Ventures',
 'Amadeus Capital',
 'Amajit Gupta, Praveen Dubey, J.P. Bhatt',
 'Amazon',
 'Amazon Alexa Fund & Dentsu Ventures',
 'Amazon Inc. and Mastercard',
 'Amazon, Ashish Dhawan, Catamaran Ventures, NR Narayana Murthy.',
 'Amazon, Fidelity Growth Partners, Mousse Partners',
 'Amazon, Vertex Ventures, Qualcomm, Ru-Net Technology Partners, Matrix Partners',
 'Amazon-Patni JV',
 'Ambarish Gupta, Aneesh Reddy, Bold Ventures, Vona Investments',
 'Ambit Pragma',
 'Ameera Shah, Vivek Bhargava',
 'Amen Dhyllon',
 'American Express Ventures, Sequoia Capital',
 'Amicus Capital',
 'Amit Burman, SIDBI Venture Capital',
 'Amit Choudhary',
 'Amit Choudhary, Anuj Puri',
 'Amit Gupta, Sahil Barua, Mukul Singhal, Tracxn Labs',
 'Amit Patni',
 'Amit Patni, Anirudh Damani, Samir Shah',
 'Amit Ranjan, Deepinder Goyal, Zishaan Hayath, Powai Lake Ventures',
 'Amit Ranjan, Vijay Shekhar Sharma, Kunal Bahl, Girish Mathrubootham &\\\\xc2\\\\xa0 Group of other Angel investors',
 'Amit Singhal and Unitus Seed Fund',
 'Amit Singhal, PK Gulati & others',
 'Amit Tyagi, Sandeep Acharya & others',
 'Amod Malviya',
 'Amour Infrastructure',
 'Anand Chandrasekaran',
 'Anand Chandrasekaran & Others',
 'Anand Chandrasekaran, Ananth Narayanan, Mekin Maheshwari, Ravi Garikipati, Divyesh Shah, Swastika Company Ltd',
 'Anand Chandrasekaran, Apurva Chamaria, Ritesh Malik, Ashish Toshniwal, Ajeet Khurana',
 'Anand Chandrasekaran, Kanwaljit Singh, Manoj Varghese',
 'Anand Chandrasekaran, Rajesh Sawhney, Kalpana Tatavarti, Shivanandan Pare',
 'Anand Chandrasekaran, Rajiv Mehta, Ramakant Sharma',
 'Anand Mahindra',
 'Anand Mahindra, Uday Punj, Ashish Hemrajani, Sanjeev Mehra',
 'Anand Rajaraman, Venky Harinarayan',
 'Anand Sankeshwar, Yang Shu',
 'Anand Vijay, Nipun Dureja, Satyajit Heeralal, Keith Rodricks, Gaurav Lochan, Azmul Haque, Nikhil Bagri',
 'Anand Vijay, Shashank Mehrotra & Others',
 'Aneesh Seth, Tushar Mittal',
 'AngelList, Rahul Khanna, Rajeev Arora and Ram Ramsundar.',
 'AngelPrime',
 'Anglian Omega Network',
 'Anicut Capital',
 'Anil Advani, Pramod Jain, Amrendra Reddy and Manish Satnaliwala.',
 'Anil Jain & other HNIs',
 'Anil Kapoor',
 'Anil Matai, Vikram Tandon, Shyam Sundar R & others',
 'Anil Menon',
 'Aniruddha Malpani, Startup Oasis',
 'Anirudh Damani, Daud Ali, Narendra Karnavat, Vikas Kapoor, Vikram Lakhotia, Krishna Jhunjhunwaala, Jayesh Shah',
 'Anirudh Damani, Vikram Lakhotia',
 'Anita Dongre, Yash Dongre, Milind Sarwate',
 'Ankit Gupta, Puneet Motihar',
 'Ankit Maheshwari, Anand Singh',
 'Ankit Nagori',
 'Ankur Capital',
 'Ankur Capital, Hyderabad Angels',
 'Ankur Gupta',
 'Ankush Mehta',
 'Ankush Nijhawan, Manish Dhingra, Gaurav Bhatnagar',
 'Ant Financial',
 'Ant Financial Services (Alipay)',
 'Ant Financials',
 'Anuj Puri, Redcliffe Capital, Artha India Ventures, Siddharth Kothari, Apoorv Ranjan Sharma,',
 'Anupam Mittal, Amit Gupta, Utsav Somani, Neeraj Goenka, Farooq Adam Mukadam',
 'Anupam Mittal, Anand Chandrasekaran, Uday Shankar, Chetan Bhagat',
 'Anupam Mittal, Anuj Srivastava, Ankit Nagori',
 'Anupam Mittal, Manish Vij, Prashant Tandon, Gaurav Agarwal, Akash Agarwal, Himanshu Aggarwal, Kevin Parikh',
 'Anupam Mittal, Sharad Sharma & 14 others',
 'Anurag Chauhan',
 'Aparup Sengupta, Devendra Reddy,',
 'Apis Partner, Eight Roads Ventures, Bamboo Capital Partners',
 'Apoorv Ranjan Sharma, Daud Ali and others',
 'Applyifi',
 'Aprameya Radhakrishna',
 'Aprameya Radhakrishna, Deepak Natraj, Girish Mathrubootham, Mahesh Murthy, Pallav Nadhani, Pavan Ongole, Sandeep Mathur, Vijay Shekhar Sharma & Others',
 'Aprameya Radhakrishna, Naman Sarawagi, Afsal Salu,',
 'Aqeel Ahmed',
 'Aramex Ventures Llc',
 'Arihant Patni, Avnish Mehra, Pranay Adhvaryu, Ravi Sampat',
 'Arihant Patni, RAAY Global Investments',
 'Arihant Patni, Vishal Khare,\\\\xc2\\\\xa0 Viswanath Ramachandran',
 'Arjun Handa, Amit Jindal, Nagendra Chaudhary',
 'Armat Group',
 'Artha India Ventures, Singularity Holdings, Rajan Anandan, Girish Mathrubootham',
 'Artha Venture',
 'Artiman Ventures',
 'Arun Chandra Mohan',
 'Arun Chandra Mohan, Praveen Sinha',
 'Arun Patodia, Bharat Kedia',
 'Arun Seth, T.V. Mohandas Pai, Anand Chandrasekaran, Deepak Ghaisas',
 'Arun Tadanki, Aditya Verma',
 'Ascent Capital, Kalaari Capital',
 'Ash Bhardwaj',
 'Asha Jadeja Motwani & Others',
 'Ashish Gupta',
 'Ashish Gupta and other undisclosed investors',
 'Ashish Jhalani',
 'Ashish Kacholi, S Chand Group',
 'Ashish Mahajan, Sarvesh Sharma',
 'Ashish Todi, Abhinav Patodia, Kumar Shwetabh',
 'Ashok Agarwal',
 'Ashok Goel (promoter)',
 'Ashok Kumar Gajera',
 'Ashutosh Lawania, Alok Goel & others',
 'Ashutosh Lawania, Rajul Jain, Badal Malick, Rishi Gupta & Others',
 'Ashvin Chadha',
 'Ashvin Chadha, Avtar Monga, Udaan Angels, Dheeraj Jain',
 'Asia Pacific Internet Group',
 'AskMe',
 'Aspada Advisors, IDG Ventures,\\\\xc2\\\\xa0 Inventus Capital',
 'Aspada Investment Advisors, Blume Ventures.',
 'Aspada Investment Advisors, Qualcomm Ventures',
 'Aspada Investments',
 'Aspire Logistics LLC',
 'Aspire Systems',
 'Asset Management (Asia) Ltd, Digital Garage Inc',
 'Astarc Ventures',
 'Astarc Ventures & Others',
 'Astarc Ventures, 50K Ventures & others',
 'Astarc Ventures, Anand Chandrasekaran',
 'Asuka Holdings',
 'Asuka Holdings, YouWeCan Ventures, Beenext, Beenos, M&S Partners',
 'Asuka, Pravega Ventures, BEENEXT',
 'Atul Gupta and Saurabh Rastogi',
 'Atul Ingle',
 'Atul Jain, Anil Gelra, Jaikumar Nair',
 'Atul Jalan',
 'Atul Jalan, Shrikanth & Bharath',
 'Atul Nishar',
 'Atulya Mittal',
 'Augment Ventures, Rahul Kayan, Nikhil Golcha, Shubham Gupta, Roy Kwan',
 'August Capital Partners, Michael Blakey',
 'Auxano Deals',
 'Avendus Finance',
 'Avendus Finance Pvt. Ltd',
 'Avtar Monga, chief operating office at IDFC Bank, Aditya Malik & Others',
 'Axiata Digital',
 'Axilor Ventures',
 'Axilor Ventures, E-City VEntures Atul Goel',
 'Axilor Ventures, Kumar Vembu',
 'Axilor Ventures, Newfort Capital',
 'Axilor Ventures, Parampara Early Stage Opportunities Fund & Others',
 'Axilor, Sprout Venture Partners and others',
 'Axilor, undisclosed investors',
 'Axis Capital Partners',
 'Ayesha Takia Azmi, Abu Farhan Azmi',
 'Ayushmann Khurana',
 'Azim Premji, Binny Bansal',
 'B Capital Group, Ignition Partners, Greycroft, e.ventures,\\\\xc2\\\\xa0 Eight Roads Ventures',
 'B Capital, International Finance Corporation (IFC), Accel Partners and IDG Ventures',
 'B M Gupta, Vinod Singhal',
 'B S Nagesh',
 'BAC Acquisitions, Unifi AIF, BRD Securities, Northern R Capital',
 'BCCL',
 'BEENEXT',
 'BLIP Initiatives',
 'Baillie Gifford, Falcon Edge Capital, Tiger Global, SoftBank Group, DST Global, Didi Kuaidi',
 'Balasubramanian Krishnamurthy, Sidhartha Hazarika & Others',
 'Base of Pyramid Asia (BOPA) Pte Ltd',
 'Baskar Subramanian, Saket Kumar, Gaurav Suri and Ankit Kesarwani',
 'Batlivala & Karani Securities, Venture Works',
 'Battery Road Digital Holdings LLC',
 'Bay Capital Investments and Others',
 'BedRock Ventures, Rajesh Sawhney, Shailesh Singh',
 'Bedrock Ventures',
 'BeeNext , WEH Ventures and Sprout Ventures',
 'BeeNext, TV Mohandas Pai, Kunal Shah, Sandeep Tandon',
 'Beenext',
 'Beenext, Digital Garage, Beenos, Qualgro, Mamoru Taniya, SAIF Partners',
 'Beenext, Digital Garage, Lightbox, Beenos',
 'Beerud Sheth and Ravi Mantha',
 'Bennett Coleman and Company Ltd (BCCL)',
 'Bennett, Coleman and Co. Ltd (BCCL)',
 'Bennett, Coleman and Company Ltd',
 'Bennett, Coleman and Company Ltd (BCCL),',
 'Benori Ventures LLP',
 'Bertelsmann India',
 'Bertelsmann India Investments',
 'Bertelsmann India Investments, Mayfield India, Saama Capital, India Quotient',
 'Bertelsmann India Investments, Nirvana Digital India Fund, Nirvana Digital Investment Holding, 500 Startups',
 'Bertelsmann India, Mayfield Capital, Saama Capital, Darrin Capital',
 'Bessemer Venture Partner, Accel, SAIF Partners',
 'Bessemer Venture Partners',
 'Bessemer Venture Partners and Orios Venture Partners, JM Financials and MEMG',
 'Bessemer Venture Partners, Anil Chopra',
 'Bessemer Venture Partners, Jungle Ventures, Helion Ventures',
 'Bessemer Venture Partners, Orios Venture Partners, Trifecta Capital,',
 'Bessemer Venture Partners, SAIF Partners',
 'Bessemer Venture Partners, Stellaris Venture Partners, Axis Capital, Singapore, Jungle Venture Partners',
 'Bessemer Venture Partners, Stellaris Venture Partners, Jungle Venture Partners, Axis Capital',
 'Bessemer Ventures, Blume Ventures',
 'Bessemer Ventures, Kae Capital',
 'Best Foodworks',
 'BetOnIndia Technology Pvt Ltd',
 'Bhairavi Jani, Alok Divatia, Namrata Kaul, Sohail Hashemi, Aijaz Saleem',
 'Bhanu Vikram Parsotam, Rohan Desai and Paras Patel',
 'Bharanidharan Viswanathan, Sanjiv Mittal, Shobhit Shukla, Rahul Agarwal',
 'Bharat Innovation, IDFC-Parampara Capital, Arthavida Ventures, Jitendra Gupta & Others',
 'Bhavdeep Reddy',
 'Bhavesh Manglani, Suraj Saharan, Darshan Upadhyay, Sanjay Notani & Others',
 'Bhavin Turakhia',
 'Bhavish Aggarwal, Ankit Bhati',
 'Bhavish Aggarwal, Binny Bansal,\\\\xc2\\\\xa0 Rajan Anandan, Mekin Maheshwar, Sunil Kalra, Anupam Mittal, Krishna Mehra, Singapore Angel Network',
 'Bhupen Shah, Jayesh Parekh, Sanjay Sathe',
 'Binny Bansal',
 'Binny Bansal, Anupam Mittal, Sachin Bhatia, Darius Pandole, Kunal Khattar, Dheerag Jain',
 'BitChemy Ventures, Maheshwari Investments Pvt Ltd, Anshoo Gaur, Rama Krishna Reddy, Sandeep Seerapu',
 'Bitkemy Ventures',
 'Biz Stone',
 'Biz Stone, Kunal Bahl, Rohit Bansal, Alagu Periyannan and Karthee Madasamy',
 'BlackJag Partners',
 'BlackSoil Capital Pvt Ltd',
 'BlackSoil Capital Pvt. Ltd',
 'BlackSoil Capital Pvt. Ltd.',
 'Blacksoil Capital Pvt. Ltd',
 'Blackstone Valley Group, Raghu Vohra, Aditya Dev Sood, Kamal Bansal',
 'Blinc Advisors, Amit Nanavati, Tashwinder Singh, Taranjit Jaswal, Amit Khanna',
 'Blue Orchard',
 'BlueOrchard Finance Ltd, Hinduja Leyland Finance and IntelleGrow',
 'Blume Ventures',
 'Blume Ventures & Other unnamed Investors',
 'Blume Ventures & Others',
 'Blume Ventures and RTP Global',
 'Blume Ventures, Adil Allana, Aprameya Radhakrishna, Gautam Ivatury, Signal Point Partners',
 'Blume Ventures, BEENEXT, Barkawi Holdings GmbH, TM Service Technology Holdings Gmbh, Sreevathsa Prabhakar',
 'Blume Ventures, Barkawi Holdings GmbH, TM Service Technology Holdings GmbH',
 'Blume Ventures, Contrarian Capital India Partners, Emergent Ventures India, Pallav Nadhani, Ashish Gupta, Sharad Sharma, Sirion Labs',
 'Blume Ventures, Contrarian Capital, 91springboard, Emergent Ventures, Abstract Ventures, Anthill Ventures, Axilor Ventures',
 'Blume Ventures, Flipkart',
 'Blume Ventures, Girish Mathrubootham, Aprameya Radhakrishna',
 'Blume Ventures, Goldbell Group, Anurag Srivastava, Shailesh Rao, Amiya Pathak, Rajesh Yohanan and Rahul Garg',
 'Blume Ventures, HealthQuad and Fireside Ventures',
 'Blume Ventures, IDG Ventures & Indian Angel Network',
 'Blume Ventures, Indian Angel Network',
 'Blume Ventures, Indian Angel Network, Kunal Shah, Sandeep Tandon',
 'Blume Ventures, Mumbai Angels, ah! Ventures, Digital Currency Group, Boost VC, Bank to the Future and Funders Club',
 'Blume Ventures, NB Ventures, Nspira',
 'Blume Ventures, Rajan Anandan, Sumit Jain, Aprameya Radhakrishna, Sujeet Kumar, Phanindra Sama',
 'Blume Ventures, Sachin Bansal, Vijay Shekhar Sharma, Binny Bansal,\\\\xc2\\\\xa0 Kunal Shah, Sandeep Tandon, Ashish Tulsian',
 'Blume Ventures,\\\\xc2\\\\xa0 Tracxn Labs',
 'Blume Ventures. Lenovo Capital and Incubator Group (LCIG)',
 'Blume ventures',
 'Bodhtree Consulting Limited',
 'Boman Irani, Dhruv Chitgopekar, Prantik Dasgupta',
 'BookMyShow',
 'Brand Capital',
 'Brand Capital and Others',
 'Brand Capital, Paragon Trust',
 'Brand Capital, Siddhivinayak Skyscrapers, Dinesh R. Challa',
 'Bravia Capital',
 'Breakthrough Energy Ventures',
 'Bren Corporation',
 'Brian Acton',
 'Brick Eagle',
 'Brigade Innovations LLP, TV Mohandas Pai, Suhail Rahman, Bobby Reddy, M George Oommen',
 'British and Indian Governments',
 'Broadbean Capital services',
 'ByteDance, Arun Sarin, Matrix Partners, Sequoia Capital India, Omidyar Network,\\\\xc2\\\\xa0 Falcon Edge',
 'C4D Partners',
 'CA Media LP,\\\\xc2\\\\xa0 Start Media.',
 'CASHurDRIVE Marketing Pvt Ltd',
 'CBA Capital and others',
 'CCube Angels, Frontline Strategy',
 'CDC Group Plc',
 'CDC Group plc\\\\xc2\\\\xa0',
 'CIO Angel Network',
 'CIO Angel Network (CAN)',
 'CIO Angel Network, Indian Angel Network',
 'CLP Holdings Group, Innogy, \\\\xc3\\\\x98rstead, and Tenaska',
 'CLSA Capital Partners ARIA IV Funds',
 'CMYK Health Boutique Pvt Ltd & Other individual investors',
 'CP Bothra',
 'Calcutta Angel Network, Appliyifi',
 'Calcutta Angels Network',
 'Calcutta Angels Network (CAN), Augment Ventures',
 'Calcutta Angels Network, LetsVenture, Anupam Mittal, Currae Healthtech Fund',
 'Calcutta Angels, Lead Angels & Others',
 'Calcutta Angels, Venture Nursery Angels Mumbai Angels',
 'Cameron Jones',
 'Canaan Partners',
 'Cao Yibin, Huang Wei, Madhusudan E,',
 'Capillary Technologies, Whiteboard Capital, YourNest Angel Fund, Rajul Garg',
 'CapitalG, SAIF Partners and LGT Impact Ventures',
 'CapitalG, Sequoia India',
 'CareerNet Consulting Pvt. Ltd, Ideation Initiative Pvt. Ltd,',
 'Carlyle Group, Tiger Global',
 'Carpediem Capital',
 'Carpediem Capital & Others',
 'Carrick Capital Partners',
 'Catamaran Ventures, New India Investment Corporation',
 'Cataraman Ventures',
 'Centre For Incubation & Business Acceleration (CIBA), Goa',
 'Centre for Innovation Incubation and Entrepreneurship (CIIE)',
 'CerraCap',
 'Chan Zuckerberg Initiative, Times Internet Ltd, Sequoia Capital, Sofina, Lightspeed Ventures',
 'Chandigarh Angel Network (CAN)',
 'Chandigarh Angels Funding',
 'Chandigarh Angels Network',
 'Chandigarh Angels Network (CAN)',

In [41]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [42]:
df.drop(columns=['Remarks'],inplace=True)

In [43]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [44]:
df.set_index('Sr No',inplace=True)

In [45]:
df

,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"
...,...,...,...,...,...,...,...,...
3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000"
3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000"
3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000"
3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN
3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000"

In [46]:
df.rename(columns={
    'Date dd/mm/yyyy':'Date',
    'Startup Name':'startup',
    'Industry Vertical':'Vertical',
    'SubVertical':'SubVertical',
    'City  Location':'City',
    'Investors Name':'investors',
    'InvestmentnType':'InvestmentType',
    'Amount in USD':'Amount'

},inplace=True)

In [47]:
df.columns

Index(['Date', 'startup', 'Vertical', 'SubVertical', 'City', 'investors',
       'InvestmentType', 'Amount'],
      dtype='object')

In [48]:
df.columns = df.columns.str.strip()
df['Amount'] = df['Amount'].fillna(0)

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3044 non-null   object
 1   startup         3044 non-null   object
 2   Vertical        2873 non-null   object
 3   SubVertical     2108 non-null   object
 4   City            2864 non-null   object
 5   investors       3044 non-null   object
 6   InvestmentType  3040 non-null   object
 7   Amount          3044 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [61]:
df['Amount'] = (
    df['Amount']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.replace('undisclosed', '0', regex=False)
)

In [62]:
df['Amount'] = (
    df['Amount']
    .astype(str)
    .str.replace(',', '', regex=False)   # remove commas
    .str.replace('undisclosed', '0', regex=False)
    .pipe(pd.to_numeric, errors='coerce')
    .fillna(0)
    .astype(int)
)

In [63]:
df['Amount']

Sr No
1       200000000
2         8048394
3        18358860
4         3000000
5         1800000
          ...
3040      4500000
3041       825000
3042      1500000
3043            0
3044       140000
Name: Amount, Length: 3044, dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3044 non-null   object
 1   startup         3044 non-null   object
 2   Vertical        2873 non-null   object
 3   SubVertical     2108 non-null   object
 4   City            2864 non-null   object
 5   investors       3044 non-null   object
 6   InvestmentType  3040 non-null   object
 7   Amount          3044 non-null   int64
dtypes: int64(1), object(7)
memory usage: 214.0+ KB

In [65]:
df.head()

,Date,startup,Vertical,SubVertical,City,investors,InvestmentType,Amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000

In [66]:
def to_inr(dollar):
  inr = dollar * 82.5
  return inr/10000000

In [67]:
df['Amount'] = df['Amount'].apply(to_inr)

In [68]:
df['Amount']

Sr No
1       1650.000000
2         66.399250
3        151.460595
4         24.750000
5         14.850000
           ...
3040      37.125000
3041       6.806250
3042      12.375000
3043       0.000000
3044       1.155000
Name: Amount, Length: 3044, dtype: float64

In [69]:
df.head()

,Date,startup,Vertical,SubVertical,City,investors,InvestmentType,Amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000

In [ ]:
df['Date'].replace()

In [72]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed', dayfirst=True, errors='coerce')

In [73]:
df['Date']

Sr No
1      2020-01-09
2      2020-01-13
3      2020-01-09
4      2020-01-02
5      2020-01-02
          ...
3040   2015-01-29
3041   2015-01-29
3042   2015-01-30
3043   2015-01-30
3044   2015-01-31
Name: Date, Length: 3044, dtype: datetime64[ns]

In [74]:
df.head()

,Date,startup,Vertical,SubVertical,City,investors,InvestmentType,Amount
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3040 non-null   datetime64[ns]
 1   startup         3044 non-null   object
 2   Vertical        2873 non-null   object
 3   SubVertical     2108 non-null   object
 4   City            2864 non-null   object
 5   investors       3044 non-null   object
 6   InvestmentType  3040 non-null   object
 7   Amount          3044 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 214.0+ KB

In [79]:
df= df.dropna(subset=['Date','startup','Vertical','City','investors' ,'InvestmentType' ,'Amount'])

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2857 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            2857 non-null   datetime64[ns]
 1   startup         2857 non-null   object
 2   Vertical        2857 non-null   object
 3   SubVertical     2097 non-null   object
 4   City            2857 non-null   object
 5   investors       2857 non-null   object
 6   InvestmentType  2857 non-null   object
 7   Amount          2857 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 200.9+ KB

In [82]:
df.to_csv('Startup_cleaned.csv', index=False)

In [83]:
df

,Date,startup,Vertical,SubVertical,City,investors,InvestmentType,Amount
Sr No,,,,,,,,
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.000000
2,2020-01-13,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,66.399250
3,2020-01-09,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,151.460595
4,2020-01-02,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,24.750000
5,2020-01-02,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,14.850000
...,...,...,...,...,...,...,...,...
2869,2015-04-29,Tracxn,Startup Analytics platform,NaN,Bangalore,SAIF Partners,Private Equity,28.875000
2870,2015-04-29,Dazo,Mobile Food Ordering app,NaN,Bangalore,"Sumit Jain, Aprameya Radhakrishna, Alok Goel, ...",Seed Funding,0.000000
2871,2015-04-29,Tradelab,Financial Markets Software,NaN,Bangalore,Rainmatter,Seed Funding,3.300000
2872,2015-04-29,PiQube,Hiring Analytics platform,NaN,Chennai,The HR Fund,Seed Funding,4.125000
2873,2015-04-29,Travel Triangle,Online Travel Marketplace,NaN,Noida,"Bessemer Venture Partners, SAIF Partners",Private Equity,66.000000

In [84]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df)

https://docs.google.com/spreadsheets/d/1d9uf4F-QYCqyjtCEabi4As9KIqSCWbnSqX2KeINMO9g/edit#gid=0